@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500&display=swap');
:root{
    --primary-font: "IBM Plex Sans",sans-serif;
    --bg-gradient-primary: linear-gradient(to bottom right,#0B65C6 50%,#105BAA 100%);
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
   
}

.logo{
    width: 11rem;
    align-self: center;
    margin-top: 0.5rem;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}
img {
    height: 100%;
    width: 100%;
}
.ham{
    display: none;
}
.btn{
    display: inline-block;
    background-image: var(--bg-gradient-primary);
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    margin-top: 2.5rem;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(5, 5, 27, 0.671);
}
.btn-1{
    padding: 1rem;
    display: inline-block;
    border: 1px solid rgb(228, 221, 221);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(5, 5, 27, 0.671);
}
main{
    background-image: var(--bg-gradient-primary);
    height: 105vh;
    color: #fff;
    width: 100vw;
    overflow: hidden;
}
.main-header{
    padding: 0.6rem 0rem;
}

.center{
    text-align: center;
}

.bold{
    font-size: 1.3rem;
    font-weight: 500;
}

.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header ul{
    color: #fff;
    width: 40vw;
    display: flex;
    justify-content: space-between;

}

.main-header ul a{
    font-weight: 500;
}

.main-header ul a:hover{
    opacity: 0.7;
}

.mobile-nav{
    position: absolute;
    top: 5rem;
    right: 50%;
    transform: translate(50%, 0%);
    width: 80vw;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    
}

.show{
    display: block;
}

.mobile-nav a{
    color: rgba(0, 0, 0, 0.726);
    display: inline-block;
    margin-bottom: 3rem;
}

.mobile-nav a:hover{
    color: #0B65C6;
}

.container{
    width: 76%;
    margin: auto;
}



.section_ .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.section_ h2{
    font-size: 2.9rem;
}
.section_ p{
    font-size: 1.4rem;
    margin-top: 1rem;
}

.trust-img {
   width: 70rem;
   margin-right: -12rem;
}

.img-download{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.android, .apple, .google{
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
}


.service{
    padding: 2rem 0;
    -overflow: hidden;
}
.top h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
}
.top{
    text-align: center;
}

.top > p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-bottom: 3rem;
}
.text-muted{
    opacity: 0.9;
}
.icons-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-service img, .can-do img{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    
}
.can-do img{
    width: 1.2rem;
    height: 1.2rem;
}

.icons-service p, .can-do p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.can-do p{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.5rem;
}
.can-do{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service .section_{
    margin-top: 4rem;
}
.service .trust-img{
    margin-right: 2rem;
    margin-left: -8rem;
    width: 35rem;
}

.service .trust-img img{
    width: 35rem;
    
}


.get-started{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.get-started img{
    width: 10rem;
    height: 10rem;
}

.get-started p{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.get-started span{
    font-size: 1.3rem;
    font-weight: 500;
}

.get{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get .img-download{
    width: 55%;
}
.mt{
    margin-top: -5rem;
}
.mr{
    margin-right: 5rem;
}

.ml{
    margin-left: -8rem;
}
.mr-2{
    margin-right: 2rem;
}

.logo-img{
    width: 12rem;
}
.main-footer{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.main-footer ul{
    opacity: 0.7;
}
.main-footer h4{
    font-size: 0.8rem;
    opacity: 0.7;
}
.main-footer li{
    margin-top: 1rem;
}
.main-footer li a{
    color: black;
    font-size: 1.1rem;
}

i{
    color: #073261b9;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.upgrade-section{
    overflow: visible;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}
.upgrade-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 15px #132d4969;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #11141a;
    text-align: left;
    padding: 2rem;
}

.upgrade-card h2{
    font-weight: 400;
    margin-top: 4rem;
    font-size: 2.5rem;
}

.upgrade-card p{
    margin-top: 1rem;
    font-size: 1.1rem;
}

.upgrade-card .logo-img{
    width: 12rem;
    height: 3.5rem;
    margin-top: 3rem;
    align-self: center;
    
}

.upgrade-card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100.2%;
    height: 0.2rem;
    background-color: #5799e0b9;
    border-radius: 35px;
    

}

hr{
    margin: 3rem 0rem;
    opacity: 0.6;
}

.upgrade-card span{
    color: red;
}

.upgrade-card .btn{
    border: none;
}

form textarea{
    margin-top: 0.5rem;
    width: 100%;
    height: 7rem;
    padding: 1rem;
    box-sizing: border-box;
}

form textarea:focus{
    outline: none;
}

.check{
    margin-top: 1rem;
}

.upgrade-success{
    color: seagreen;
    font-size: 1.3rem;
    justify-self: center;
    align-self: center;
    text-align: center;
}


input[type = "checkbox"]{
    margin-right: 0.5rem;
    
}

@media (max-width: 1000px) {
    main{
        height: auto;
    }
}

@media (max-width:700px) {
    .mr{
        margin-right: 0rem;
    }
    
    .mt{
        margin-top: 0rem;
    }

    .ham{
        display: block;
    }

    .ml{
        margin-left: 0;
    }
    .mr-2{
        margin-right: 0;
    }

    .order-1{
        order: 1;
    }

    .order-2{
        order: 2;
    }

    .section_ .container, .img-download, .icons-service, .get-started, .get{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img-download{
        width: 100%;
        margin-bottom: 4rem;
    }
    main{
        height: auto;
    }

    .section_ h2{
        font-size: 2rem;
    }
    .section_ p{
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .trust-img {
        width: 100vw;
        margin-right: 0;
        margin-top: 2rem;
    }

    .main-header ul{
        display: none;
    }

    .container{
        width: 90%;
    }

    .top h2{
        font-size: 2rem;
    }

    .can-do p{
        margin-bottom: 1.5rem;
    }

    .service{
        overflow: hidden;
    }

    .service .trust-img{
        margin-right: 0rem;
        margin-left: 0rem;
        width: 35rem;
    }

    .service .trust-img img{
        width: 26rem;
        
    }

    .main-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main-footer div{
        margin-top: 2rem;
    }
    
}
